* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Colors
$--main-bg-color: #f2f7f5;
$--secondary-bg-color: #95bf8f;
$--primary-color: #1c3144;
$--secondary-color: #9e2b25;
$--text-color: #0e9ddb;
$--dazn-main: #0c161c;
$--dazn-secondary: rgb(12, 22, 28);
$--dazn-light: #e8e9e9;

body {
  width: 100%;
  height: 100%;
  background: $--main-bg-color;
}

// Classes ///////
// Nav, landing page - alternate text color
.text-color {
  color: $--text-color;
}
// Headline for arbitrage and history sections
.headline {
  height: 5vh;
  background: lightcoral;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation */

.r-link {
  display: var(--rLinkDisplay, inline-flex) !important;
  height: 100%;
}

.r-link[href] {
  color: var(--rLinkColor) !important;
  text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list {
  padding-left: var(--rListPaddingLeft, 0) !important;
  margin-top: var(--rListMarginTop, 0) !important;
  margin-bottom: var(--rListMarginBottom, 0) !important;
  list-style: var(--rListListStyle, none) !important;
}

.menu__link {
  display: var(--menuLinkDisplay, block);
}

// Nav - focus
.menu__link:focus {
  outline: var(--menuLinkOutlineWidth, 2px) solid
    var(--menuLinkOutlineColor, $--text-color);
  outline-offset: var(--menuLinkOutlineOffset);
}

// Nav - fading

.menu:hover .menu__link:not(:hover) {
  --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, 0.35));
}

.menu {
  background-color: var(--menuBackgroundColor, #f0f0f0);
  box-shadow: var(
    --menuBoxShadow,
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.24)
  );
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  background: $--main-bg-color;
  height: 60px;
}

.menu__link {
  padding: var(--menuLinkPadding, 1.5rem 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
}

// Text underline

.text-underlined {
  position: relative;
  overflow: hidden;
  // will-change: color;
  transition: color 0.25s ease-out;
}

.text-underlined::before,
.text-underlined::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, $--text-color);

  will-change: width;
  transition: width 0.1s ease-out;

  position: absolute;
  bottom: 0;
}

.text-underlined::before {
  left: 50%;
  transform: translateX(-50%);
}

.text-underlined::after {
  right: 50%;
  transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after {
  width: 100%;
  transition-duration: 0.2s;
}

nav {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans,
    Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  margin: 0;
  // min-height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $--text-color;
}

.page {
  margin: auto;
}

.page__menu:nth-child(n + 2) {
  margin-top: 3rem;
}

// Landing page
.landing__text-container {
  height: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .landing__text-wrap {
    padding-top: 15px;
    height: 30vh;
    width: 80%;
    text-align: center;
    line-height: 40px;

    p {
      margin-top: 15px;
      white-space: pre-line;
    }
  }
}

// Landing highlights /////
.landing__highlight {
  width: 100%;
  height: 50vh;
  background: $--primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .highlight-container {
    background: lightcoral;
    width: 60%;
    height: 35vh;
  }
}

.highlight-grid {
  display: grid;
  grid-template-rows: 90%;
  grid-template-columns: repeat(3, 1fr);
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: crimson;
  margin: 10px;
}

.grid-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: red;
}

.grid-text {
  text-align: center;
  height: 100%;
  background: lightblue;
  padding: 10px;
}

// Landing banner
.landing__banner {
  background: $--text-color;
  height: 7.5vh;
  width: 100%;
  color: $--main-bg-color;
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Arb bot
#arb-bot {
  height: 100vh;
  width: 100%;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .arb-bot__container {
    width: 80%;
    height: 90%;
    background: lightcyan;
  }
}

// history
#history {
  height: 100vh;
  width: 100%;
  background: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .history__container {
    width: 80%;
    height: 90%;
    background: lightgreen;
  }
}

// Footer ////////

footer {
  width: 100%;
  height: 30vh;
  // background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer__grid {
    padding-top: 30px;
    height: 100%;
    width: 61%;
    display: grid;
    grid-template-rows: 90%;
    grid-template-columns: repeat(4, 1fr);
    color: red;
  }

  .footer-text-container {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100%;
    width: 70%;
  }

  .footer-text-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: flex-start;
    // background: lightgreen;
    width: 100%;
  }

  .footer-grid-header {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
  }

  .footer-grid-text {
    // Grid 1 - Info
    p {
      padding-bottom: 6px;
    }
    // Grid 2 - Explore
    ul {
      display: flex;
      flex-direction: column;
      align-items: start;
      list-style-type: none;

      li {
        padding-bottom: 3px;

        a {
          position: relative;
          display: block;
          text-decoration: none;
          color: green;
          // padding: 4px 0;
          padding-bottom: 4px;
          transition: 0.5s; //0.5s
        }
      }
    }
  }

  //Grid 2 - Underline
  ul li a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: black;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  ul li a:hover {
    color: blue;
  }

  ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  // Grid 2 - Explore
  // Hover Underline - https://webdevtrick.com/css-menu-hover-underline/
  // Grid 3 - contact
  .footer-contact {
    .contact {
      width: 78px;
      padding-bottom: 7px;
    }
  }

  /// This is for the contact pop out form - https://webdevtrick.com/popup-contact-form/

  .grid-3-text {
    // background: lightgreen;
    width: 100%;
    text-align: center;
  }

  // Grid 3 - Contact Form
  // Exit button
  #exit {
    color: #fff;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    // text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 1px;
    float: right;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  #lightbox {
    visibility: hidden;
    position: fixed;
    background: red;
    border: 2px solid #3c3c3c;
    color: white;
    z-index: 200;
    width: 500px;
    height: 75%;
    padding: 20px;
    display: flex;
    justify-content: center;

    fieldset {
      border: none;
    }

    #page-wrap {
      width: 400px;
      margin: 0 auto;
      height: 98%;
    }

    h2 {
      text-align: left;
      margin-left: 10px;
    }

    #formLeft {
      width: 320px;
      float: left;

      input {
        width: 350px;
        text-align: left;
        background: none;
        margin: 4px 0 0 8px;
        font-size: 1.4em;
      }
    }

    #formRight {
      width: 360px;
      float: left;
      padding-right: 44px;

      textarea {
        width: 350px;
        height: 109px;
        display: block;
        background: none;
        margin: 4px 0 0 10px;
        padding: 5px 0 5px 0;
        font-family: Helvetica, sans-serif;
        font-size: 1.3em;
      }

      .message-bg {
        height: 100px;
      }
    }

    label {
      display: block;
      font-size: 1.3em;
      text-indent: 10px;
      font-weight: bold;
      margin-top: 10px;

      .error {
        position: absolute;
        top: -16px;
        right: 49px;
        padding: 3px;
        color: #da3939;
        font-size: 1em;
        text-align: right;
        font-style: italic;
        font-weight: normal;
      }
    }

    // Submit Button on contact form
    .main {
      width: 350px;
      height: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px 0 0 10px;
    }

    .button {
      position: relative;
      display: block;
      width: 200px;
      height: 36px;
      border-radius: 18px;
      background-color: #1c89ff;
      border: solid 1px transparent;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      &:hover {
        background-color: transparent;
        border-color: #fff;
        transition: all 0.1s ease-in-out;
      }
    }

    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background: transparent;
      margin: 5px auto 0 auto;
      border: solid 2px #424242;
      border-top: solid 2px #1c89ff;
      border-radius: 50%;
      opacity: 0;
    }

    .check {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translate3d(-4px, 50px, 0);
      opacity: 0;
      span:nth-child(1) {
        display: block;
        width: 10px;
        height: 2px;
        background-color: #fff;
        transform: rotate(45deg);
      }
      span:nth-child(2) {
        display: block;
        width: 20px;
        height: 2px;
        background-color: #fff;
        transform: rotate(-45deg) translate3d(14px, -4px, 0);
        transform-origin: 100%;
      }
    }

    .loader.active {
      animation: loading 2s ease-in-out;
      animation-fill-mode: forwards;
    }

    .check.active {
      opacity: 1;
      transform: translate3d(-4px, 4px, 0);
      transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
      transition-delay: 0.2s;
    }

    @keyframes loading {
      30% {
        opacity: 1;
      }

      85% {
        opacity: 1;
        transform: rotate(1080deg);
        border-color: #262626;
      }
      100% {
        opacity: 1;
        transform: rotate(1080deg);
        border-color: #1c89ff;
      }
    }
  }

  .grid-4-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
