* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background: #f2f7f5;
}

.text-color {
  color: #0e9ddb;
}

.headline {
  height: 5vh;
  background: lightcoral;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Navigation */
.r-link {
  display: var(--rLinkDisplay, inline-flex) !important;
  height: 100%;
}

.r-link[href] {
  color: var(--rLinkColor) !important;
  -webkit-text-decoration: var(--rLinkTextDecoration, none) !important;
          text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list {
  padding-left: var(--rListPaddingLeft, 0) !important;
  margin-top: var(--rListMarginTop, 0) !important;
  margin-bottom: var(--rListMarginBottom, 0) !important;
  list-style: var(--rListListStyle, none) !important;
}

.menu__link {
  display: var(--menuLinkDisplay, block);
}

.menu__link:focus {
  outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, #0e9ddb);
  outline-offset: var(--menuLinkOutlineOffset);
}

.menu:hover .menu__link:not(:hover) {
  --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, 0.35));
}

.menu {
  background-color: var(--menuBackgroundColor, #f0f0f0);
  -webkit-box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24));
          box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24));
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #f2f7f5;
  height: 60px;
}

.menu__link {
  padding: var(--menuLinkPadding, 1.5rem 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
}

.text-underlined {
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

.text-underlined::before,
.text-underlined::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, #0e9ddb);
  will-change: width;
  -webkit-transition: width 0.1s ease-out;
  transition: width 0.1s ease-out;
  position: absolute;
  bottom: 0;
}

.text-underlined::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.text-underlined::after {
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after {
  width: 100%;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

nav {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #0e9ddb;
}

.page {
  margin: auto;
}

.page__menu:nth-child(n + 2) {
  margin-top: 3rem;
}

.landing__text-container {
  height: 34vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__text-container .landing__text-wrap {
  padding-top: 15px;
  height: 30vh;
  width: 80%;
  text-align: center;
  line-height: 40px;
}

.landing__text-container .landing__text-wrap p {
  margin-top: 15px;
  white-space: pre-line;
}

.landing__highlight {
  width: 100%;
  height: 50vh;
  background: #1c3144;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__highlight .highlight-container {
  background: lightcoral;
  width: 60%;
  height: 35vh;
}

.highlight-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90%;
      grid-template-rows: 90%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: crimson;
  margin: 10px;
}

.grid-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: red;
}

.grid-text {
  text-align: center;
  height: 100%;
  background: lightblue;
  padding: 10px;
}

.landing__banner {
  background: #0e9ddb;
  height: 7.5vh;
  width: 100%;
  color: #f2f7f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#arb-bot {
  height: 100vh;
  width: 100%;
  background: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#arb-bot .arb-bot__container {
  width: 80%;
  height: 90%;
  background: lightcyan;
}

#history {
  height: 100vh;
  width: 100%;
  background: darkblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#history .history__container {
  width: 80%;
  height: 90%;
  background: lightgreen;
}

footer {
  width: 100%;
  height: 30vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__grid {
  padding-top: 30px;
  height: 100%;
  width: 61%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90%;
      grid-template-rows: 90%;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  color: red;
}

footer .footer-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 70%;
}

footer .footer-text-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

footer .footer-grid-header {
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

footer .footer-grid-text p {
  padding-bottom: 6px;
}

footer .footer-grid-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  list-style-type: none;
}

footer .footer-grid-text ul li {
  padding-bottom: 3px;
}

footer .footer-grid-text ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: green;
  padding-bottom: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .underline:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: black;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

footer .underline:hover {
  color: blue;
}

footer .underline:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

footer .underline:after {
  background: red;
}

footer .footer-contact .contact {
  width: 78px;
  padding-bottom: 7px;
}

footer .grid-3-text {
  width: 100%;
  text-align: center;
}

footer #exit {
  color: #fff;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 1px;
  float: right;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

footer #lightbox {
  visibility: hidden;
  position: fixed;
  background: red;
  border: 2px solid #3c3c3c;
  color: white;
  z-index: 200;
  width: 500px;
  height: 75%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #lightbox fieldset {
  border: none;
}

footer #lightbox #page-wrap {
  width: 400px;
  margin: 0 auto;
  height: 98%;
}

footer #lightbox h2 {
  text-align: left;
  margin-left: 10px;
}

footer #lightbox #formLeft {
  width: 320px;
  float: left;
}

footer #lightbox #formLeft input {
  width: 350px;
  text-align: left;
  background: none;
  margin: 4px 0 0 8px;
  font-size: 1.4em;
}

footer #lightbox #formRight {
  width: 360px;
  float: left;
  padding-right: 44px;
}

footer #lightbox #formRight textarea {
  width: 350px;
  height: 109px;
  display: block;
  background: none;
  margin: 4px 0 0 10px;
  padding: 5px 0 5px 0;
  font-family: Helvetica, sans-serif;
  font-size: 1.3em;
}

footer #lightbox #formRight .message-bg {
  height: 100px;
}

footer #lightbox label {
  display: block;
  font-size: 1.3em;
  text-indent: 10px;
  font-weight: bold;
  margin-top: 10px;
}

footer #lightbox label .error {
  position: absolute;
  top: -16px;
  right: 49px;
  padding: 3px;
  color: #da3939;
  font-size: 1em;
  text-align: right;
  font-style: italic;
  font-weight: normal;
}

footer #lightbox .main {
  width: 350px;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 0 10px;
}

footer #lightbox .button {
  position: relative;
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

footer #lightbox .button:hover {
  background-color: transparent;
  border-color: #fff;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

footer #lightbox .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  margin: 5px auto 0 auto;
  border: solid 2px #424242;
  border-top: solid 2px #1c89ff;
  border-radius: 50%;
  opacity: 0;
}

footer #lightbox .check {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate3d(-4px, 50px, 0);
          transform: translate3d(-4px, 50px, 0);
  opacity: 0;
}

footer #lightbox .check span:nth-child(1) {
  display: block;
  width: 10px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

footer #lightbox .check span:nth-child(2) {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg) translate3d(14px, -4px, 0);
          transform: rotate(-45deg) translate3d(14px, -4px, 0);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

footer #lightbox .loader.active {
  -webkit-animation: loading 2s ease-in-out;
          animation: loading 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

footer #lightbox .check.active {
  opacity: 1;
  -webkit-transform: translate3d(-4px, 4px, 0);
          transform: translate3d(-4px, 4px, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
  transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

@-webkit-keyframes loading {
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-color: #262626;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-color: #1c89ff;
  }
}

@keyframes loading {
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-color: #262626;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-color: #1c89ff;
  }
}

footer .grid-4-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=styles.css.map */